<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <!-- BookRepository Bean -->
        <bean id="bookRepository" class="in.cognizant.LibraryManagement.Repository.BookRepository"/>

        <!-- BookService Bean with dependency injection -->
        <bean id="bookService" class="in.cognizant.LibraryManagement.Service.BookService">
            <property name="bookRepository" ref="bookRepository"/>
        </bean>
</beans>